:root {
  --background-color: #121214;
  --primary-purple: #8257e6;
  --primary-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;

  background: var(--background-color);
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: "Roboto", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 32px;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  margin-bottom: 66px;
}

.login-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 480px;
}

h1 {
  color: #e1e1e6;
  margin-bottom: 24px;
  font-size: 54px;
  line-height: 64px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-fields {
  display: block;
}

.form-login {
  width: 100%;
  max-width: 480px;
  background: #202024;
  border-radius: 5px;
  padding: 64px;
}

.form-input {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}

.email,
.password {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.fa,
.fas {
  position: absolute;
  color: #28272c;
  transition: fill 0.2s ease 0s;
  margin-left: 12px;
}

.email input,
.password input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  background: var(--background-color);
  border: none;
  color: var(--primary-white);
  padding: 0px 1em 0px 2.65em;
  border-radius: 5px;
}

.forgot-link {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-purple);
  margin: 8px 0px 24px;
  opacity: 0.8;
  transition: opacity 0.2s ease 0s;
  align-self: flex-start;
  text-decoration: none;
}

.submit-button {
  background: var(--primary-purple);
  border-radius: 5px;
  border: none;
  color: var(--primary-white);
  font-weight: bold;
  height: 50px;
  transition: background 0.2s ease 0s, color 0.2s ease 0s;
  font-family: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.submit-button:hover {
  background: #977ef2;
}
