* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;

  background: #121214;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: "Roboto", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 32px;
}

main {
  width: 100%;
  display: flex;

  justify-content: space-evenly;
}

.logo {
  display: flex;
  margin-bottom: 66px;
}

.login-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 480px;
}

h1 {
  color: #e1e1e6;
  margin-bottom: 24px;
  font-size: 54px;
  line-height: 64px;
}
